h1{
    text-align: center;
}
body{
   overflow-y: scroll;
   background-color: blue !important;
   
}
h3{
    text-align: left;
}
.Top{
    margin: 0 auto;
    width: 656 px;
    text-align: center;
}
.tab{
    display: inline-block;
    margin-left: 40px;
    color:white;
}
.Text_Color{
    color:white;
}

#About{

    background-color:gold;
    margin-left: 75px;
    margin-right:50px;
    cursor:pointer;
    
}
#Resume{
    
    background-color:gold;
    margin-right: 50px;
    cursor:pointer;
}
#Education{
    
    background-color:gold;
    margin-right: 50px;
    cursor: pointer;
}
#Skills{
    background-color:gold;
    margin-right:50px;
    cursor:pointer;
    
}
#Projects{
    background-color:gold;
    margin-right: 50px;
    cursor: pointer;
}

.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}